.App {
  margin:1%;
  text-align: center;

}


.App-header {
  background-color: #282c34;
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 2%;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: antiquewhite;
}

.card {
  font-weight: bold;
  align-items: center;
  border-radius: .4rem;
  background-color: pink;
  padding: 1%;
  margin: 2%;
  text-align: center;
  width: 150px;
  height: 140px;
  line-height: 50px;
}

.card-grid {
  display: flex;
  flex-wrap: nowrap;
  background-color: indigo;
  justify-content: center;
}

